@import "../variables.scss";

.wrapper {
    margin: 2vh auto;

    display: grid;
    grid-template-rows: 0.1fr 0.9fr;
    grid-row-gap: 20px;
}

.search {
    margin: 0 auto;
    max-width: 357px;

    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-column-gap: 12px;

    &__input {
        padding: 15px 12px;

        line-height: 16px;

        background-color: $white-color;
        border: $border;
        border-radius: $border-radius;
    }
}

.search__input:focus {
    outline: none;
    border: 1.5px solid $red-color;
}

.search__input:disabled {
    color: $gray-color;
    background-color: $input-bg-disabled;
    border: $border;
}

.search__input::placeholder {
    color: $gray-color;
}

.search__input:focus::placeholder {
    opacity: 0;
}

.search__input:disabled::placeholder {
    visibility: hidden;
}
