@import "../../variables.scss";

.list {
  align-items: center;
  grid-template-rows: repeat(12, 104px);
  grid-row-gap: 16px;
}

.repotile {
  width: 100%;
  display: flex;
  margin-bottom: 16px;

  border: $border;
  border-radius: $border-radius;

  &__avatar {
    position: absolute;
    @include square(80px, 50%);
    top: 10.5px;
    left: 10.5px;

    font-size: 40px;
    color: $white-color;
    text-align: center;
    padding: 20px;
    font-weight: 700;
    line-height: 10px;

    background-color: $red-color;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      @include square(80px, 50%);
    }
  }

  &__content {
    position: relative;
    padding: 21.5px 10.5px 20.5px 10.5px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 241px;
    height: 59px;
    margin-left: 92px;
  }

  &__heading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: $text-color;
  }

  &__orgLink {
    text-decoration: none;
  }

  &__stats,
  &__orgLink {
    color: $gray-color;
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    padding-right: 65px;

    &__stars {
      display: inline-block;
      width: 42px;

      & svg {
        vertical-align: bottom;
        padding-right: 4px;

        @include square(16px);
      }
    }
  }
}

.repotile:hover {
  box-shadow: 0px 2px 6px $repotile-hover;
}

.repotile__orgLink:hover {
  color: $org-link-color;
}
