@import "../../variables.scss";

.list {
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 16px;

    max-width: 357px;
    margin: 0 auto;
}

.repotile {
    max-width: 357px;
    margin: 0 auto;
    display: flex;

    border: $border;
    border-radius: $border-radius;

    &__avatar {
        @include square(80px, 50%);

        font-size: 40px;
        color: $white-color;
        text-align: center;
        padding: 20px;
        font-weight: 700;
        line-height: 10px;

        background-color: $red-color;
        text-transform: uppercase;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 20px;

        & img {
            @include square(80px, 50%);
        }
    }

    &__content {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding: 12px;

        overflow: hidden;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        overflow: hidden;
    }

    &__heading {
        margin-bottom: 4px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        font-weight: bold;
        font-size: 16px;
        line-height: 19px;

        color: $text-color;
    }

    &__orgLink {
        text-decoration: none;
        margin-bottom: 4px;
    }

    &__stats,
    &__orgLink {
        color: $gray-color;
    }

    &__stats {
        display: flex;

        justify-content: flex-start;
        align-items: center;

        &__stars {
            display: inline-block;
            margin-right: 20px;

            & svg {
                vertical-align: bottom;
                padding-right: 4px;

                @include square(16px);
            }
        }
    }
}

.repotile:hover {
    box-shadow: 0px 2px 6px $repotile-hover;
}

.repotile__orgLink:hover {
    color: $org-link-color;
}
