$red-color: #ff5555;
$white-color: #fff;
$light-gray-color: #d9d9d9;
$gray-color: #7e7e7e;
$org-link-color: #208fbf;
$text-color: #000;
$repotile-hover: rgba(182, 182, 182, 0.25);
$input-bg-disabled: #f9f9f9;

$border: 1.5px solid $light-gray-color;
$border-radius: 6px;

@mixin square($size, $border-radius: none) {
  width: $size;
  height: $size;

  @if ($border-radius != none) {
    border-radius: $border-radius;
  }
}
