<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список репозиториев</title>
    <script src="https://kit.fontawesome.com/b9b5e006ed.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="component">

        <div class="search">
            <input class="search__input" type="text" placeholder="Введите название организации">
            <button class="search__button">
                <i class="fas fa-search"></i>
            </button>
        </div>



        <div class="list">

            <div class="git-repo-tile">
                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__avatar">
                        <img src="">K
                    </div>
                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__heading">kts-school-frontend</div>
                        <a class="git-repo-tile__org-link" href="#" target="_blank">ktsstudio</a>
                        <div class="git-repo-tile__stats">
                            <div class="stars">
                                <img class="stars__img" src="../img/star.svg"><span>123</span>
                            </div>
                            <div class="updated">Updated 21 Jul</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="git-repo-tile">
                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__avatar">
                        <img src="../img/avatar.svg">K
                    </div>
                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__heading">very-long-repository-name-and-and-and</div>
                        <a class="git-repo-tile__org-link" href="#" target="_blank">ktsstudio</a>
                        <div class="git-repo-tile__stats">
                            <div class="stars">
                                <img class="stars__img" src="../img/star.svg"><span>123</span>
                            </div>
                            <div class="updated">Updated 21 Jul</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="git-repo-tile">
                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__avatar">
                        <img src="">K
                    </div>
                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__heading">kts-school-frontend</div>
                        <a class="git-repo-tile__org-link" href="#" target="_blank">ktsstudio</a>
                        <div class="git-repo-tile__stats">
                            <div class="stars">
                                <img class="stars__img" src="../img/star.svg"><span>123</span>
                            </div>
                            <div class="updated">Updated 21 Jul</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="git-repo-tile">
                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__avatar">
                        <img src="">K
                    </div>
                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__heading">kts-school-frontend</div>
                        <a class="git-repo-tile__org-link" href="#" target="_blank">ktsstudio</a>
                        <div class="git-repo-tile__stats">
                            <div class="stars">
                                <img class="stars__img" src="../img/star.svg"><span>123</span>
                            </div>
                            <div class="updated">Updated 21 Jul</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="git-repo-tile">
                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__avatar">
                        <img src="../img/avatar.svg">K
                    </div>
                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__heading">very-long-repository-name-and-and-and</div>
                        <a class="git-repo-tile__org-link" href="#" target="_blank">ktsstudio</a>
                        <div class="git-repo-tile__stats">
                            <div class="stars">
                                <img class="stars__img" src="../img/star.svg"><span>123</span>
                            </div>
                            <div class="updated">Updated 21 Jul</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="git-repo-tile">
                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__avatar">
                        <img src="">K
                    </div>
                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__heading">kts-school-frontend</div>
                        <a class="git-repo-tile__org-link" href="#" target="_blank">ktsstudio</a>
                        <div class="git-repo-tile__stats">
                            <div class="stars">
                                <img class="stars__img" src="../img/star.svg"><span>123</span>
                            </div>
                            <div class="updated">Updated 21 Jul</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="git-repo-tile">
                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__avatar">
                        <img src="">K
                    </div>
                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__heading">kts-school-frontend</div>
                        <a class="git-repo-tile__org-link" href="#" target="_blank">ktsstudio</a>
                        <div class="git-repo-tile__stats">
                            <div class="stars">
                                <img class="stars__img" src="../img/star.svg"><span>123</span>
                            </div>
                            <div class="updated">Updated 21 Jul</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="git-repo-tile">
                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__avatar">
                        <img src="../img/avatar.svg">K
                    </div>
                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__heading">very-long-repository-name-and-and-and</div>
                        <a class="git-repo-tile__org-link" href="#" target="_blank">ktsstudio</a>
                        <div class="git-repo-tile__stats">
                            <div class="stars">
                                <img class="stars__img" src="../img/star.svg"><span>123</span>
                            </div>
                            <div class="updated">Updated 21 Jul</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="git-repo-tile">
                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__avatar">
                        <img src="">K
                    </div>
                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__heading">kts-school-frontend</div>
                        <a class="git-repo-tile__org-link" href="#" target="_blank">ktsstudio</a>
                        <div class="git-repo-tile__stats">
                            <div class="stars">
                                <img class="stars__img" src="../img/star.svg"><span>123</span>
                            </div>
                            <div class="updated">Updated 21 Jul</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="git-repo-tile">
                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__avatar">
                        <img src="">K
                    </div>
                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__heading">kts-school-frontend</div>
                        <a class="git-repo-tile__org-link" href="#" target="_blank">ktsstudio</a>
                        <div class="git-repo-tile__stats">
                            <div class="stars">
                                <img class="stars__img" src="../img/star.svg"><span>123</span>
                            </div>
                            <div class="updated">Updated 21 Jul</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="git-repo-tile">
                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__avatar">
                        <img src="../img/avatar.svg">K
                    </div>
                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__heading">very-long-repository-name-and-and-and</div>
                        <a class="git-repo-tile__org-link" href="#" target="_blank">ktsstudio</a>
                        <div class="git-repo-tile__stats">
                            <div class="stars">
                                <img class="stars__img" src="../img/star.svg"><span>123</span>
                            </div>
                            <div class="updated">Updated 21 Jul</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="git-repo-tile">
                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__avatar">
                        <img src="">K
                    </div>
                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__heading">kts-school-frontend</div>
                        <a class="git-repo-tile__org-link" href="#" target="_blank">ktsstudio</a>
                        <div class="git-repo-tile__stats">
                            <div class="stars">
                                <img class="stars__img" src="../img/star.svg"><span>123</span>
                            </div>
                            <div class="updated">Updated 21 Jul</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>

</html>