body {
    margin: 20px 20px;
    width: 357px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.component {
    display: grid;
    align-items: center;

    grid-template-rows: 50px 104px;
    grid-row-gap: 20px;
}




/* Search */

.search {
    margin: 20px auto;

    display: grid;
    grid-template-columns: 295px 50px;
    grid-column-gap: 12px;

    align-items: center;
}

.search__input {
    width: 295px;
    height: 50px;
    padding-left: 12px;

    background-color: #FFFFFF;
    border: 1.5px solid #D9D9D9;
    border-radius: 6px;
}

.search__input:focus {
    outline: none;
    border: 1.5px solid #FF5555;
}

.search__input:disabled {
    color: #7E7E7E;
    background-color: #F9F9F9;
    border: 1.5px solid #D9D9D9;
}

.search__input::placeholder {
    display: flex;
    align-items: center;

    color: #7E7E7E;
}

.search__input:focus::placeholder {
    opacity: 0;
}

.search__input:disabled::placeholder {
    visibility: hidden;
}



.search__button {
    width: 50px;
    height: 50px;

    background: #FF5555;
    border-radius: 6px;
    border: none;
}

.search__button:hover {
    opacity: 0.7;
}

.search__button:disabled {
    background: #D9D9D9;
}

.search__button i {
    font-size: 18px;
    color: #fff;
}




/* List of repositories */

.list {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(12, 104px);
    grid-row-gap: 16px;

    position: absolute;
    width: 357px;
    height: 1424px;
    left: 20px;
    top: 90px;
}

.git-repo-tile {
    width: 357px;
    height: 104px;

    border: 1.5px solid #D9D9D9;
    border-radius: 6px;
}

.git-repo-tile:hover {
    box-shadow: 0px 2px 6px rgba(182, 182, 182, 0.25);
}

.git-repo-tile__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 241px;
    height: 59px;
    left: 104px;
    top: 23px;
}

.git-repo-tile__content::before {
    content: "K";
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    left: -92px;
    top: -12px;

    font-size: 40px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 80px;

    background-color: #FF5555;
    border-radius: 50%;
}

.git-repo-tile__heading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #000
}

.git-repo-tile__org-link,
.git-repo-tile__stats {
    color: #7E7E7E;
}

.git-repo-tile__org-link {
    text-decoration: none;
}

.git-repo-tile__org-link:hover {
    color: #208FBF;
}

.git-repo-tile__stats {
    width: 156px;
    display: flex;
    justify-content: space-between;
}

.stars {
    display: inline-block;
    width: 42px;
}

.stars img {
    vertical-align: bottom;
    padding-right: 4px;

    width: 16px;
    height: 16px;
}
